<h1 class="home-title">Hello everyone!</h1>

<div class="container">
  <ul>
    <li><a data-ui-sref="gallery.test1">Click to see test 1</a></li>
    <li><a data-ui-sref="gallery.test2">Click to see test 2</a></li>
    <li><a data-ui-sref="gallery.example1">Click to see example 1</a></li>
    <li><a data-ui-sref="gallery.example2">Click to see example 2</a></li>
    <li><a data-ui-sref="gallery.example3">Click to see example 3</a></li>
    <li><a data-ui-sref="gallery.example4">Click to see example 4 (Area Light)</a></li>
    <li><a data-ui-sref="gallery.lensFlare">Click to see lens flare</a></li>
    <li><a data-ui-sref="gallery.particleSystem">Click to see particle system</a></li>
    <li><a data-ui-sref="gallery.finalExample">Click to see Final Example</a>
		<li><a data-ui-sref="gallery.sky">Click to see Sky Example</a></li>
  </ul>
</div>

<div>
  <h2>Note: There is still some issue when switching between different examples. Please close the tag and reopen it after
  switching view. If not, there will be performance issues and may lead to some examples doesn't work.</h2>
</div>
