body {
  margin: 0;
}

.home-title {
  text-align: center;
  color: gold;
}

.link-tag {
  font-size: 14px;

}

.title {
  color: gold;
  text-align: center;
  font-size: 40px;
  position: fixed;
  width: 100%;
}

.add {
  position: absolute;
  top: 10px;
  left: 10px;
}

.remove {
  position: absolute;
  top: 10px;
  left: 110px;
}
